.my-body{
    background-color: rgb(235, 235, 235);
}
.right-container{
   // float: 0;
    background-color: white;
    //height: 180px;
    padding: 30px;
    margin-top: 30px;
}
.left-container{
    background-color: white;
    //height: 180px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px; 
}
.span-q-style{
    font-weight: bold;
    //font-size: 16px;
    color: red;
}
.button-style{
    padding: 10px 0;
    border:solid whitesmoke;
}
.my-row{
    padding-bottom: 5px;
}
.tx-container{
    background-color: white;
    //height: 120px;
    padding: 30px;
    margin-top: 30px;
}
.steper-container{
    background-color: white;
    padding: 30;
    margin-top: 30px; 
}
.h4-style{
    float: right;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}
.span-font{
    font-weight: bold;
    font-size: 16px;
}
.-my-table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}