    <div class="main-content my-body">
        <div class="container-fluid">
            <!-- Balance content , start -->
            <div class="row">
                <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12 col-xs-12  order-1">
                    <div class="right-container">
                            <div class="row justify-content-between" style="display: flex">
                                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-xs-12 order-1">
                                        <h4 style="text-align: center ">الرصيد الكلي</h4>
                                        <h4 style="text-align: center;color: #00c851; font-weight: 400">${{ (customer.totalBalance === null || customer.totalBalance === 0) ? 0 : customer.totalBalance }}</h4>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-xs-12 order-2">
                                        <h4 style="text-align: center">الرصيد المتاح</h4>
                                        <h4 style="text-align: center">${{ (customer.availableBalance === null || customer.availableBalance === 0 ) ? 0 : customer.availableBalance }}</h4>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-between" style="display: flex">
                                        <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12">
                                            <h6 style="text-align: center">الرصيد القابل للسحب<span style="text-align: center;margin-right: 5px">{{ (customer.balanceToWithdraw === null ||  customer.balanceToWithdraw === 0) ? 0 : customer.balanceToWithdraw }}$</span></h6>
                                        </div>
                                        <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12">
                                                <h6 style="text-align: center">الرصيد المعلق<span style="text-align: center;margin-right: 5px">{{ (customer.suspendedBalance === null || customer.suspendedBalance === 0) ? 0 : customer.suspendedBalance }}$</span></h6>
                                            </div>
                                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-xs-12  order-2">
                    <div class="left-container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 my-row">
                                <h5 class="span-q-style" style="text-align: center;" >ماذا تريد أن تفعل بأرباحك هذا الشهر ؟</h5>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 my-row">
                                        <button class="button-style btn btn-link btn-block" style="font-size: 16px" (click)="invest()">تشغيل الأرباح</button>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 my-row">
                                            <button class="button-style btn btn-link btn-block" style="font-size: 16px" (click)="withdraw()">سحب الأرباح</button>
                                    </div>
                                </div>
                    </div>
                    </div>
                </div>
                <!-- Balance content , end -->
                <!-- Steper , start -->
                <div class="row" *ngIf="withdraws.length != 0">
                    <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12 col-xs-12 ">
                        <div *ngFor="let t of withdraws">
                            <div class="steper-container">
                                    <mat-horizontal-stepper [linear]="false" #stepper [selectedIndex]="getIndext(t)">
                                            <mat-step>
                                                    <ng-template matStepLabel>'طلب السحب</ng-template>
                                            </mat-step>
                                            <mat-step>
                                                    <ng-template matStepLabel >تمت المراجعة</ng-template>
                                            </mat-step>
                                            <mat-step>
                                                    <ng-template matStepLabel>تم الإستلام</ng-template>
                                            </mat-step>
                                    </mat-horizontal-stepper>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Steper , end -->
                <!-- Transaction content , start -->
                <div class="row" *ngIf="transactions.length !== 0">
                    <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12 col-xs-12 order-3 pull-right">
                        <div class="tx-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <h4 class="h4-style">المعاملات المالية</h4>
                                    <br>
                                    <hr>
                                </div>
                            </div>
                            <div class="row" *ngFor="let tx of transactions" style="margin-bottom: 30px">
                                <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 col-xs-2 order-1 align-items-center pull-sm-right">
                                    <span *ngIf="(tx.trType === 'withdraw')"><strong>-</strong></span>
                                    <span *ngIf="(tx.trType === 'deposit')" style="color: rgb(12, 180, 12)"><strong>+</strong></span>
                                    <span *ngIf="(tx.trType === 'withdraw')" style="color: red" ><strong>${{tx.amount}}</strong></span>
                                    <span *ngIf="(tx.trType === 'deposit')" style="color:  rgb(12, 180, 12)"><strong>${{tx.amount}}</strong></span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12 col-xs-12 order-2">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 pull-right align-items-start">
                                            <h5 style="text-align: right">{{tx.notes}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 ">
                                            <i class="pull-right material-icons" style="margin-left:5px">update</i>
                                            <span class="pull-right" style="margin-left:5px">{{tx.createdAt}}</span>
                                            <i class="pull-right material-icons" style="margin-left:5px">money</i>
                                            <span class="pull-right" style="margin-left:5px">الرصيد</span>
                                            <span class="pull-right" style="margin-left:5px">${{customer.balanceToWithdraw}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                <!-- Transaction content , end -->
            </div>
        </div>