<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                                     {{msg}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">طلبات سحب مبلغ مالي</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary" style="text-align: center;">
                                <th>رقم الحساب</th>
                                <th>المبلغ</th>
                                <th>تاريخ الطلب</th>
                                <th>ملاحظات</th>
                                <th>الحالة</th>
                                <th>إختر تاريخ السحب</th>
                                <th>الموافقة</th>
                            </thead>
                            <tbody>
                                <tr style="text-align: center;" *ngFor="let wr of withdraws | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td>{{wr.accountNo}}</td>
                                    <td>{{wr.amount}}</td>
                                    <td>{{wr.createdAt}}</td>
                                    <td>{{(wr.notes === null || wr.notes === '') ? 'لا توجد ملاحظات' : wr.notes}}</td>
                                    <td>{{(wr.status === 'pendding') ? 'في الإنتظار' : wr.status}}</td>
                                    <td>
                                       
                                            <mat-form-field>
                                                    <input matInput name="picker"  [readonly]="true" [matDatepicker]="picker" [formControl]="serializedDate"  placeholder="إختر تاريخ السحب" style="float: left" >   
                                                    <mat-datepicker-toggle matSuffix [for]="picker" style="float: right"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>    
                                                </mat-form-field>
                                            
                                    </td>
                                    <td style="text-align: center;">
                                        <a [routerLink]="" (click)="approveWithdraw(wr.id)">
                                            <i class="material-icons">verified_user</i> السماح بالسحب
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="withdraws.length"></ngb-pagination>
                            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>