<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="isMsg1"> -->
                <div class="col-md-6 col-lg-6 col-xl-6 col-xs-6 col-sm-6" >
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg1">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close1()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                                             {{msg1}}</span>
                </div>
            </div>
            <!-- <div class="col-lg-8 col-md-6 col-sm-6" *ngIf="isMsg2"> -->
                    <div class="col-md-8" >
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg2">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close2()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                                                     {{msg2}}</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="disable">
            <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">إضافة نسبة الأرباح العامة</h4>
                        <!-- <p class="card-category">Category subtitle</p> -->
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="addCommonInterest(interest)" #interest="ngForm">
                            <div class="row">
                                <div class="col-md-6 col-gl-6 col-xl-6 col-sm-6 col-xs-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>أدخل النسبة</mat-label>
                                        <input matInput type="text" style="float: right;" name="interestRate" #interestRate="ngModel" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-gl-6 col-xl-6 col-sm-6 col-xs-6">
                                    <mat-form-field>
                                        <input matInput name="picker" [readonly]="true" [matDatepicker]="picker"
                                            [formControl]="serializedDate" placeholder="إختر  الشهر"
                                            style="float: left">
                                        <mat-datepicker-toggle matSuffix [for]="picker" style="float: right">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button mat-raised-button class="btn btn-primary btn-block">إضافة</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="disable">
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-6 col-xs-6">
                <button class="btn btn-primary btn-block">PDF</button>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 col-xs-6">
                <a class="btn btn-primary btn-block" [routerLink]="" (click)="reports()">التقارير</a>
            </div>
        </div>
        <div class="row" *ngIf="disable">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <app-admin-generated-interest
                [interests]="interests"
               (confirmed)="loadInterest($event)"
                ></app-admin-generated-interest>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>