<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                                     {{msg}}</span>
                </div>
            </div>
        </div>
        <!-- employee creation form start-->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title pull-right">تسجيل مستحدم نظام جديد</h4><br><br>
                        <p class="card-category" style="float: right">أدخل بيانات المستخدم الجديد</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(user)" #user="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>الإسم الأول</mat-label>
                                        <input matInput type="text" name="firstName" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>الإسم الأخير</mat-label>
                                        <input matInput type="text" name="lastName" ngModel >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>البريد الإلكتروني</mat-label>
                                        <input matInput type="email" name="email" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>كلمة المرور</mat-label>
                                        <input matInput type="password" name="password" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>رقم الهاتف</mat-label>
                                        <input matInput type="text" name="phone" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-primary btn-block">حفظ</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6">
                    <app-admin-display-employees
                    [employees]="employees"
                    ></app-admin-display-employees>
            </div>
        </div>
        <!-- employee creation form end-->
    </div>
</div>