<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" *ngIf="isMsg">
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        (click)="close()"> <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                        {{msg}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">إضافة رصيد</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>أدخل المبلغ</mat-label>
                                        <input matInput name="amount" #amount="ngModel" type="text" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field>
                                        <mat-select placeholder="إختر المستثمر" name="accountNo" #accountNo="ngModel"
                                            ngModel>
                                            <mat-option>
                                                <ngx-mat-select-search name="value" [(ngModel)]="value" ngModel
                                                    (ngModelChange)="filterMyOptions($event)"
                                                    [placeholderLabel]="'أبحث عن مستثمر'"
                                                    [noEntriesFoundLabel]="'لا يوجد'">

                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let cust of customers | customerFilter:value"
                                                value="{{cust.accountNo}}">{{cust.firstName}} {{cust.middleName}}
                                                {{cust.lastName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput name="picker" [readonly]="true" [matDatepicker]="picker"
                                            [formControl]="serializedDate" placeholder="إختر تاريخ التحصيل"
                                            style="float: left">
                                        <mat-datepicker-toggle matSuffix [for]="picker" style="float: right">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>أدخل الملاحظات هنا</mat-label>
                                        <textarea matInput name="notes" #notes="ngModel" ngModel></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button type="submit" class="btn btn-primary btn-block"
                                        style="text-align: center">إضافة</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>