<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        معلومات عنا
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, تم التطوير بواسطة
            <a href="#" target="_blank">محمد يوسف التميرابي</a> .
        </div>
    </div>
</footer>