<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <!-- end of global level css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- global level css -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <!-- end of global level css -->
    <!-- page level css -->

    <link rel="stylesheet" type="text/css" href="/assets/dist/css/login.css" />
    <link href="/assets/dist/css/blue.css" rel="stylesheet" />
    <!-- end of page level css -->

    <style>
        .help-block {
            color: #a94442;
        }
        
        .change_link .btn-warning {
            color: #fff;
        }
        
        #wrapper label {
            color: rgb(64, 92, 96);
            font-weight: 700;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row my-3">
            <div class="col-12 mx-auto">
                <div id="notific">
                </div>
            </div>
        </div>
        <div class="row vertical-offset-100">
            <!-- Notifications -->
            <div class="col-sm-6 col-sm-offset-3  col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 mx-auto">
                <div id="container_demo">
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <a class="hiddenanchor" id="toforgot"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  (ngSubmit)="onSubmit(form)" #form="ngForm" autocomplete="on" >
                                <h3 class="black_bg my-3"> نسيت كلمة المرور</h3>
                                <div class="form-group">
                                    <p style="font-size:14px !important;text-align: right">
                                        أدخل بريدك الإلكتروني أدناه وسنقوم بإرسال رابط لإعادة توليد كلمة المرور إلى بريدك الإلكتروني
                                    </p>
                                </div>
                                <div class="form-group" *ngIf="isExistEmail">
                                    <span class="help-block" style="float: right">{{message}}</span>
                                </div>
                                <div class="form-group ">
                                    <label style="margin-bottom:0px;float: right" for="email" class="youmai">
                        <i class="livicon" data-name="mail" data-size="16" data-loop="true" data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                        البريد الإلكتروني
                      </label>
                                    <input id="email" required name="email"  #email="ngModel" type="email"  placeholder="youremail@domain.com" style="text-align: right" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel />
                                   <span class="help-block" style="float: right" *ngIf="!email.valid && email.touched">الرجاء إدخال البريد الإلكتروني</span>
                                   <p class="help-block" style="float: right" *ngIf="email.errors?.pattern && email.touched">صيغة البريد الإلكتروني غير صحيحة</p>
                                </div>
                                <p class="login button">
                                    <!-- <input type="submit" value="إعادة توليد كلمة المرور" class="btn btn-success" /> -->
                                    <button [disabled]="!form.valid" class="btn btn-success btn-block">إعادة توليد كلمة المرور</button>
                                </p>
                                <p class="change_link">
                                    <a routerLink="/login" class="btn btn-responsive botton-alignment btn-warning btn-sm to_register">رجوع</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- global js -->
    <script src='/assets/dist/js/api.js'></script>
    <script src="/assets/dist/js/jquery.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="/assets/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/dist/js/bootstrapValidator.min.js" type="text/javascript"></script>
    <!--livicons-->
    <script src="/assets/dist/js/raphael.min.js"></script>
    <script src="/assets/dist/js/livicons-1.4.min.js"></script>
    <script src="/assets/dist/js/icheck.js" type="text/javascript"></script>
    <script src="/assets/dist/js/login.js" type="text/javascript"></script>
    <!-- end of global js -->
</body>
</html>