<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <!-- end of global level css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/dist/css/login.css" />
    <link href="/assets/dist/css/blue.css" rel="stylesheet" />
    <!-- end of page level css -->
    <style>
        .help-block {
            color: #a94442;
        }
        
        .change_link .btn-warning {
            color: #fff;
        }
        
        #wrapper label {
            color: rgb(64, 92, 96);
            font-weight: 700;
        }
    </style>
</head> 
<body>
    <div class="container">
        <div class="row my-3">
            <div class="col-12 mx-auto">
                <div id="notific">
                </div>
            </div>
        </div>
        <div class="row vertical-offset-100">
            <!-- Notifications -->
            <div class="col-sm-6 col-sm-offset-3  col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 mx-auto">

                <div id="container_demo">
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <a class="hiddenanchor" id="toforgot"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form (ngSubmit)="checkLogin(form)" #form="ngForm" autocomplete="on" role="form" id="login_form" class="my-3">
                                <h3 class="black_bg">تسجيل الدخول</h3>
                                <div class="form-group">
                                        <div *ngIf="error">
                                                <span class="text-danger" style="float: right">{{errorMessage}}</span>
                                        </div>
                                        </div>
                                <div class="form-group " style="padding-top: 10px">
                                    <label style="margin-bottom:0px;float: right;" for="email" class="uname control-label"> <i class="livicon" data-name="mail" data-size="16" data-loop="true" data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                        البريد الإلكتروني
                      </label>
                                    <input id="email" name="email" #email="ngModel" type="email" placeholder="البريد الإلكتروني" style="text-align: right" ngModel required/>
                                    <span class="help-block" style="float: right" *ngIf="!email.valid && email.touched">يحب إدخال  البريد الإلكتروني</span>
                                </div>
                                <div class="form-group ">
                                    <label style="margin-bottom:0px;float: right;" for="password" class="youpasswd"> <i class="livicon" data-name="key" data-size="16" data-loop="true" data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                        كلمة المرور
                      </label>
                                    <input id="password" name="password" #password="ngModel" type="password" placeholder="كلمة المرور" style="text-align: right" ngModel required />
                                    <span class="help-block" style="float: right" *ngIf="!password.valid && password.touched">يحب إدخال كلمة المرور</span>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="!form.valid" class="btn btn-success btn-block">تسجيل الدخول</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- global js -->
    <script src='/assets/dist/js/api.js'></script>
    <script src="/assets/dist/js/jquery.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="/assets/dist/js/frontend/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/dist/js/bootstrapValidator.min.js" type="text/javascript"></script>
    <!--livicons-->
    <script src="/assets/dist/js/raphael.min.js"></script>
    <script src="/assets/dist/js/livicons-1.4.min.js"></script>
    <script src="/assets/dist/js/icheck.js" type="text/javascript"></script>
    <script src="/assets/dist/js/login.js" type="text/javascript"></script>
    <!-- end of global js -->
</body>
</html>