<!-- <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <nav class="navbar navbar-light bg-light"> -->
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <!-- <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span  class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button> -->
        <button class="navbar-toggler" type="button" (click)="sidebarToggle()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse justify-content-end " id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="" (click)="logout()">
                       تسجيل الخروج
        </a>
                </li>
            </ul>
        </div>
    </div>
</nav>