<div class="main-content">
  <div class="container-fluid">
    <div class="container-shadow">
      <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                <i class="material-icons" data-notify="icon">check</i>
                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                <span data-notify="message" style="text-align: center">
                                                 {{msg}}</span>
            </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 col-xs-6">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12" style="  padding-bottom: 15px;" >
            <a [routerLink]="" (click)="monthReposrt()" class="btn btn-primary btn-block">تقرير الشهر</a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
                <a [routerLink]="" (click)="yearReposrt()" class="btn btn-primary btn-block">تقرير سنوي</a>
            </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 col-xs-6">
        <div class="row">
          <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12" >
              <mat-form-field>
                  <mat-select placeholder="إختر المستثمر" name="accountNo" #accountNo="ngModel"
                      ngModel>
                      <mat-option>
                          <ngx-mat-select-search name="value" [(ngModel)]="value" ngModel
                              (ngModelChange)="filterMyOptions($event)"
                              [placeholderLabel]="'أبحث عن مستثمر'"
                              [noEntriesFoundLabel]="'لا يوجد'">
    
                          </ngx-mat-select-search>
                      </mat-option>
                      <mat-option 
                      
                      *ngFor="let cust of customers | customerFilter:value"
                          value="{{cust.accountNo}}">{{cust.firstName}} {{cust.middleName}}
                          {{cust.lastName}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12" >
              <mat-form-field>
                  <mat-select placeholder="تقرير بال" name="category" #category="ngModel"
                      ngModel>
                      <mat-option value="month">الشهر</mat-option>
                      <mat-option value="year">السنة</mat-option>
                      <mat-option value="all">كامل</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
              <a [routerLink]="" class="btn btn-primary btn-block" (click)="customerReposrt(accountNo.value,category.value)">الحصول على التقرير</a>
            </div>
          </div>
        </div>
    </div>
  </div>
    <div class="row" style="padding-bottom: 30px">
      <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    </div>
    </div>