<div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 col-xs-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">account_balance_wallet</i>
                </div>
                <p class="card-category">أرباح السنة</p>
                <h3 class="card-title">{{currentYearInterest}}</h3>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 col-xs-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">account_balance_wallet</i>
                </div>
                <p class="card-category">الأرباح الكلية</p>
                <h3 class="card-title">{{allInterestCount}}</h3>
            </div>
        </div>
      </div>
</div>
<div class="row">
  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title float-right">كشف نسبة الأرباح السنوي</h4>
            <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-primary" style="text-align: center;">
                    <th>إسم المستثمر</th>
                    <th>رقم الحساب</th>
                    <th>الرصيد الكلي</th>
                    <th>الرصيد المتاح</th>
                    <th>الأرباح</th>
                    <th>نسبة الأرباح </th>
                    <th>الشهر</th>
                </thead>
                <tbody>
                    <tr style="text-align: center;" *ngFor="let intr of interests | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td>{{intr.fullName}}</td>
                        <td>{{intr.accountNo}}</td>
                        <td>${{(intr.customerBalance === null || intr.customerBalance === '' || intr.customerBalance === 0 ) ? 00.00 : intr.customerBalance}}</td>
                        <td>${{(intr.customerAvailableBalance === null || intr.customerAvailableBalance === '' || intr.customerAvailableBalance === 0) ? 00.00 : intr.customerAvailableBalance}}</td>
                        <td>{{intr.customerInterestBalance}}$</td>
                        <td>{{intr.interestRate }}%</td>
                        <td>{{intr.month}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="interests.length"></ngb-pagination>
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                    <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
                    <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
                    <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
                  </select>
            </div>
        </div>
      </div>
  </div>
</div>