<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                                             {{msg}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">طلبات تحويل مبلغ مالي</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover ">
                            <thead class="text-primary" style="text-align: center;">
                                <th>تاريخ الطلب</th>
                                <th>رقم الحساب</th>
                                <th>المبلغ</th>
                                <th>إسم المستفيد</th>
                                <th>رقم حساب المستفيد</th>
                                <!-- <th>طريقة التحويل</th> -->
                                <th>الحالة</th>
                                <th>الموافقة</th>
                            </thead>
                            <tbody>
                                <tr style="text-align: center;" *ngFor="let tr of transfers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td>{{tr.createdAt}}</td>
                                    <td>{{tr.accountNo}}</td>
                                    <td>{{tr.amount}}</td>
                                    <td>{{tr.receName}}</td>
                                    <td>{{tr.receAccountNo}}</td>
                                    <!-- <td>{{(tr.transferWay === 'cash') ? 'نقدا' : 'تحويل بنكي'}}</td> -->
                                    <td>{{getTxStatus(tr)}}</td>
                                    <td style="text-align: center;">
                                        <a [routerLink]="" (click)="approveTransfer(tr.id)">
                                            <i class="material-icons">verified_user</i> السماح بالتحويل
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="transfers.length"></ngb-pagination>
                            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>