<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" *ngIf="isMsg">
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                             {{msg}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">طلب إيداع مبلغ مالي</h4>
                        <!-- <p class="card-category">Category subtitle</p> -->
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(deposit)" #deposit="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>أدخل المبلغ</mat-label>
                                        <input matInput name="amount" #amount="ngModel" type="text" style="float: right;" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button mat-raised-button class="btn btn-primary btn-block">أرسل طلب إيداع</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">الرصيد</h4>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">الأرباح</h6>
                        <h4 class="card-title">${{ (customer.balanceToWithdraw === null || customer.balanceToWithdraw === 0) ? 0 : customer.balanceToWithdraw}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>