<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="http://demo.joshadmin.com/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://demo.joshadmin.com/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://demo.joshadmin.com/assets/vendors/bootstrapvalidator/css/bootstrapValidator.min.css"
        rel="stylesheet" />
    <!-- end of global level css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- global level css -->
    <link href="http://demo.joshadmin.com/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://demo.joshadmin.com/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://demo.joshadmin.com/assets/vendors/bootstrapvalidator/css/bootstrapValidator.min.css"
        rel="stylesheet" />
    <!-- end of global level css -->
    <!-- page level css -->

    <link rel="stylesheet" type="text/css" href="http://demo.joshadmin.com/assets/css/pages/login.css" />
    <link href="http://demo.joshadmin.com/assets/vendors/iCheck/css/square/blue.css" rel="stylesheet" />
    <!-- end of page level css -->
    <style>
        .help-block {
            color: #a94442;
        }

        .change_link .btn-warning {
            color: #fff;
        }

        #wrapper label {
            color: rgb(64, 92, 96);
            font-weight: 700;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row my-3">
            <div class="col-12 mx-auto">
                <div id="notific">
                </div>
            </div>
        </div>
        <div class="row vertical-offset-100">
            <!-- Notifications -->
            <div class="col-sm-6 col-sm-offset-3  col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 mx-auto">
                <div id="container_demo">
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <a class="hiddenanchor" id="toforgot"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form (ngSubmit)="checkLogin(form)" #form="ngForm" autocomplete="on" role="form"
                                id="login_form" class="my-3">
                                <div class="form-group">
                                        <h3 class="black_bg">تسجيل الدخول</h3>
                                </div>
                                <div class="form-group" *ngIf="isSaved">
                                       <span class="text-danger" style="float: right">{{message}}</span>
                                    <!-- <h5  dir="rtl" class="text-danger my-3" style="text-align: right" >{{message}}</h5> -->
                                    </div>
                                <div class="form-group " style="padding-top: 10px">
                                    <label style="margin-bottom:0px;float: right;" for="email"
                                        class="uname control-label"> <i class="livicon" data-name="mail" data-size="16"
                                            data-loop="true" data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                                        البريد الإلكتروني
                                    </label>
                                    <input type="email" id="email"  ngModel name="email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                        placeholder="البريد الإلكتروني" style="text-align: right"   />
                                        <div *ngIf="email.touched">
                                                <p class="help-block" style="float: right" *ngIf="email.errors?.required">الرجاء إدخال البريد الإلكتروني</p>
                                                <p class="help-block" style="float: right" *ngIf="email.errors?.pattern">صيغة البريد الإلكتروني غير صحيحة</p>
                                              </div>
                                </div>
                                <div class="form-group ">
                                    <label style="margin-bottom:0px;float: right;" for="password" class="youpasswd"> <i
                                            class="livicon" data-name="key" data-size="16" data-loop="true"
                                            data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                                        كلمة المرور
                                    </label>
                                    <input type="password" id="password" ngModel name="password" required #password="ngModel" 
                                        placeholder="كلمة المرور" style="text-align: right"   />
                                    <span class="help-block" *ngIf="!password.valid && password.touched" style="float: right">الرجاء إدخال كلمة المرور</span>
                                </div>
                                <div class="form-group">
                                        <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-block">تسجيل الدخول</button>
                                </div>
                                <div class="form-group">
                                       <a routerLink="/forgot-password" class="btn btn-responsive botton-alignment btn-warning btn-sm" style="float: right">نسيت كلمة المرور</a>
                                       <a routerLink="/register" class="btn btn-responsive botton-alignment btn-success btn-sm" style="float: left">التسجيل</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- global js -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="http://demo.joshadmin.com/assets/js/jquery.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="http://demo.joshadmin.com/assets/js/frontend/bootstrap.min.js" type="text/javascript"></script>
    <script src="http://demo.joshadmin.com/assets/vendors/bootstrapvalidator/js/bootstrapValidator.min.js"
        type="text/javascript"></script>
    <!--livicons-->
    <script src="http://demo.joshadmin.com/assets/js/raphael.min.js"></script>
    <script src="http://demo.joshadmin.com/assets/js/livicons-1.4.min.js"></script>
    <script src="http://demo.joshadmin.com/assets/vendors/iCheck/js/icheck.js" type="text/javascript"></script>
    <script src="http://demo.joshadmin.com/assets/js/pages/login.js" type="text/javascript"></script>
    <!-- end of global js -->
</body>
</html>