<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">

  </div>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
      <i class="material-icons" data-notify="icon">check</i>
      <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()"> <i
          class="material-icons">close</i></button>
      <span data-notify="message" style="text-align: center">
        {{msg}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title float-right">موظفو النظام</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-primary" style="text-align: center;">
          <th>الرقم</th>
          <th>إسم الموظف</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الهاتف</th>
          <th>الحالة</th>
          <th>تاريخ التسجيل</th>
          <th>التعديل</th>
        </thead>
        <tbody>
          <tr style="text-align: center;"
            *ngFor="let emp of employees | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
            <td>{{emp.id}}</td>
            <td>{{emp.firstName}} {{emp.lastName}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.phoneNo}}</td>
            <td>{{ (emp.status === 'active') ? 'مفعل' : 'غير مفعل'}}</td>
            <td>{{emp.createdDate}}</td>
            <td style="text-align: center;">
              <div *ngIf="emp.status === 'inactive'">
                <a [routerLink]="" (click)="activateUser(emp.id)">
                  <i class="material-icons">verified_user</i> تفعيل
                </a>
              </div>
              <div *ngIf="emp.status === 'active'">
                <a [routerLink]="" (click)="deActivateUser(emp.id)">
                  <i class="material-icons">person_add_disabled</i> إلغاء تفعيل
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="employees.length"></ngb-pagination>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
          <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
          <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
        </select>
      </div>
    </div>
  </div>
</div>