<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg2">
                <i class="material-icons" data-notify="icon">check</i>
                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close2()">  <i class="material-icons">close</i></button>
                <span data-notify="message" style="text-align: center">
                                                                 {{msg2}}</span>
            </div>
        </div>
</div>
<div class="row">
<div class="card">
  <div class="card-header card-header-primary">
      <h4 class="card-title float-right">كشف نسبة الأرباح المؤقت</h4>
      <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
  </div>
  <div class="card-body table-responsive">
      <table class="table table-hover">
          <thead class="text-primary" style="text-align: center;">
              <th>إسم المستثمر</th>
              <th>رقم الحساب</th>
              <!-- <th>الرصيد الكلي</th> -->
              <th>الرصيد المتاح</th>
              <th>الأرباح</th>
              <th>نسبة الأرباح العامة</th>
              <th>نسبة الأرباح الخاصة</th>
              <th>نوع نسبة الأرباح</th>
              <th>تأكيد إضافة الأرباح</th>
          </thead>
          <tbody>
              <tr style="text-align: center;" *ngFor="let intr of interests | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <td>{{intr.firstName}} {{ intr.middleName }} {{intr.lastName}}</td>
                  <td>{{intr.accountNo }}</td>
                  <!-- <td>${{(intr.totalBalance === null || intr.totalBalance === '') ? 00.00 : intr.totalBalance }}</td> -->
                  <td>${{(intr.custBalance === null || intr.custBalance === '' || intr.custBalance === 0 ) ? 00.00 : intr.custBalance}}</td>
                  <td>${{(intr.custInteresBalance === null || intr.custInteresBalance === '' || intr.custInteresBalance === 0) ? 00.00 : intr.custInteresBalance}}</td>
                  <td>{{intr.interestRate }}%</td>
                  <td>{{intr.interestRatePlus}}%</td>
                  <td>{{(intr.intrType === 'common') ? 'نسبة أرباح عامة': 'نسبة أرباح خاصة'}}</td>
                  <td>
                      <div *ngIf="!intr.isAdded">
                          <a [routerLink]="" (click)="confirmInterest(intr.id)"
                          style="cursor: pointer;"
                          >
                                  <i class="material-icons">check_circle_outline</i> تأكيد
                              </a>
                          </div>
                          <div *ngIf="intr.isAdded">
                              تم التأكيد
                          </div>
                  </td>
              </tr>
              <!-- <app-admin-generated-interest></app-admin-generated-interest> -->
          </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
          <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="interests.length"></ngb-pagination>
          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
              <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
              <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
              <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
            </select>
      </div>
  </div>
</div>
</div>
<div class="row"  #content id="content" *ngIf="false">
    <!-- <h2>Hello World</h2> -->
    <table>
            <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>إسم المستثمر</th>
                        <th>رقم الحساب</th>
                        <th>الرصيد المتاح</th>
                        <th>الأرباح</th>
                        <th>نسبة الأرباح العامة</th>
                        <th>نسبة الأرباح الخاصة</th>
                        <th>نوع نسبة الأرباح</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let intr of interests" >
                            <td>{{intr.firstName}} {{ intr.middleName }} {{intr.lastName}}</td>
                            <td>{{intr.accountNo }}</td>
                            <td>${{(intr.custBalance === null || intr.custBalance === '' || intr.custBalance === 0 ) ? 00.00 : intr.custBalance}}</td>
                            <td>${{(intr.custInteresBalance === null || intr.custInteresBalance === '' || intr.custInteresBalance === 0) ? 00.00 : intr.custInteresBalance}}</td>
                            <td>{{intr.interestRate }}%</td>
                            <td>{{intr.interestRatePlus}}%</td>
                            <td>{{(intr.intrType === 'common') ? 'نسبة أرباح عامة': 'نسبة أرباح خاصة'}}</td>
                      </tr> -->
                      <tr>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>4</td>
                          <td>5</td>
                          <td>6</td>
                          <td>7</td>
                      </tr>
                    </tbody>
                  </table>
    </table>
</div>