<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xl-5  col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">حسابات العملاء</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary" style="text-align: center;">
                                <th>إسم المستثمر</th>
                                <th>رقم الهاتف</th>
                                <th>العمليات</th>
                            </thead>
                            <tbody>
                                <tr style="text-align: center;" *ngFor="let cust of customers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td>{{cust.firstName}} {{ cust.middleName }} {{cust.lastName}}</td>
                                    <td>{{ (cust.phoneNo === null || cust.phoneNo === '') ? 'لم يكتمل بعد' : cust.phoneNo}}</td>
                                    <td style="text-align: center;">
                                        <a [routerLink]="" (click)="deActivateCustomer(cust.id)" *ngIf="cust.accountStatus === 'active'">
                                            <i class="material-icons">person_add_disabled</i> إلغاء تفعيل
                                        </a>
                                        <a [routerLink]="" (click)="activateCustomer(cust.id)" *ngIf="cust.accountStatus === 'inactive'">
                                            <i class="material-icons">person_add_disabled</i> تفعيل
                                        </a>
                                        &nbsp;&nbsp;
                                        <a [routerLink]="" (click)="edit(cust)">
                                            <i class="material-icons">edit</i> تعديل
                                        </a>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="customers.length"></ngb-pagination>
                            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-7 col-md-7 col-sm-12 col-xs-12" *ngIf="isEdit">
                <app-admin-customer-edit
                [customer]="customer"
                ></app-admin-customer-edit>
            </div>
        </div>
    </div>
</div>