<div class="main-content">
  <div class="container-fluid">
      <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                        <i class="material-icons" data-notify="icon">check</i>
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                        <span data-notify="message" style="text-align: center">
                                                         {{msg}}</span>
                    </div>
                </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title float-right">مستثمرين جدد في إنتظار التفعيل</h4>
                      <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-primary" style="text-align: center;">
                              <th>الإسم الأول</th>
                              <!-- <th>الإسم الأوسط</th> -->
                              <!-- <th>الإسم الأخير</th> -->
                              <th>البريد الإلكتروني</th>
                              <th>تعديل</th>
                          </thead>
                          <tbody>
                              <tr style="text-align: center;" *ngFor="let cust of customers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                  <td>{{cust.firstName}}</td>
                                  <!-- <td>{{cust.middleName}}</td> -->
                                  <!-- <td>{{cust.lastName}}</td> -->
                                  <td>{{cust.email}}</td>
                                  <td style="text-align: center;">
                                      <!-- <a [routerLink]="" (click)="activateCustomer(cust.id)">
                                          <i class="material-icons">verified_user</i> تفعيل
                                      </a> -->
                                      <a [routerLink]="" (click)="displayCustomerDetails(cust)">
                                            <i class="material-icons">verified_user</i> إستعراض
                                        </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="d-flex justify-content-between p-2">
                          <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="customers.length"></ngb-pagination>
                          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                              <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
                              <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
                              <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
                            </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="isShow">
              <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                            <div>
                            <img [src]="custImage" alt="thumbnail" class="img-thumbnail"
                            style="width: 200px;height: 150px;" />
                        </div>
                        <div>
                                <h4 style="text-align: center;color: blue">المستثمر</h4>
                            </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div>
                            <img [src]="custDelegImage" alt="thumbnail" class="img-thumbnail"
                            style="width: 200px;height: 150px;" />
                        </div>
                       <div>
                           <h4 style="text-align: center;color: blue">وكيل الحساب</h4>
                       </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div>
                            <img [src]="custPassportImage" alt="thumbnail" class="img-thumbnail"
                            style="width: 200px;height: 150px;" />
                        </div>
                        <div>
                                <h4 style="text-align: center;color: blue">الجواز</h4>
                            </div>
                      </div>
              </div>
              <div class="row">
                    <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title pull-right">التحقق من بيانات المستثمر</h4><br><br>
                                <p class="card-category" style="float: right">بيانات المستثمر</p>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="onSubmit(profile)" #profile="ngForm">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>الإسم الأول</mat-label>
                                                <input matInput [readonly]="true" type="text" name="firstName" [(ngModel)]="customer.firstName" ngModel>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>الإسم الأوسط</mat-label>
                                                <input matInput [readonly]="true" name="middleName" [(ngModel)]="customer.middleName" ngModel>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>الإسم الأخير</mat-label>
                                                <input matInput [readonly]="true" name="lastName" [(ngModel)]="customer.lastName" ngModel>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-lg-6">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>رقم الهاتف</mat-label>
                                                <input matInput [readonly]="true" type="text" name="phoneNo" [(ngModel)]="customer.phoneNo" ngModel>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-lg-6">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>رقم الجواز</mat-label>
                                                <input matInput [readonly]="true" type="text" name="passportNo" [(ngModel)]="customer.passportNo" ngModel>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-lg-6">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>رقم جواز وكيل الحساب</mat-label>
                                                <input matInput [readonly]="true" type="text" name="delegPassport" [(ngModel)]="customer.delegPassport" ngModel>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-lg-6">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>إسم وكيل الحساب</mat-label>
                                                <input matInput [readonly]="true" type="text" name="delegFullName" [(ngModel)]="customer.delegFullName" ngModel>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-lg-6">
                                            <input placeholder="الصورة" #fileInput type="file" accept="image/*" name='file' (change)="onFileSelected($event)" style="display:none" ngModel>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <button mat-raised-button  type="submit" class="btn btn-primary poll-center" (click)="activateCustomer(customer.id)">تفعيل</button>
                                                </div>
                                    </div>
                                    <!-- <button mat-raised-button [disabled]="true" type="submit" class="btn btn-primary pull-left">حفظ التعديلات</button> -->
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
              </div>
          </div>
      </div>  
    </div>
    </div>