<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" *ngIf="isMsg">
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                     {{msg}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title pull-right">تعديل الملف الشخصي</h4><br><br>
                        <p class="card-category" style="float: right">أكمل بيانات ملفك الشخصي</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(profile)" #profile="ngForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>الإسم الأول</mat-label>
                                        <input matInput [readonly]="true" type="text" name="firstName" [(ngModel)]="customer.firstName" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>الإسم الأوسط</mat-label>
                                        <input matInput [readonly]="true" name="middleName" [(ngModel)]="customer.middleName" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>الإسم الأخير</mat-label>
                                        <input matInput [readonly]="true" name="lastName" [(ngModel)]="customer.lastName" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>رقم الهاتف</mat-label>
                                        <input matInput [readonly]="true" type="text" name="phoneNo" [(ngModel)]="customer.phoneNo" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>رقم الجواز</mat-label>
                                        <input matInput [readonly]="true" type="text" name="passportNo" [(ngModel)]="customer.passportNo" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>رقم جواز وكيل الحساب</mat-label>
                                        <input matInput [readonly]="true" type="text" name="delegPassport" [(ngModel)]="customer.delegPassport" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>إسم وكيل الحساب</mat-label>
                                        <input matInput [readonly]="true" type="text" name="delegFullName" [(ngModel)]="customer.delegFullName" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input placeholder="الصورة" #fileInput type="file" accept="image/*" name='file' (change)="onFileSelected($event)" style="display:none" ngModel>
                                </div>
                            </div>
                            <!-- <button mat-raised-button [disabled]="true" type="submit" class="btn btn-primary pull-left">حفظ التعديلات</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <!-- <img [attr.src]="image" alt="Image"> -->
                            <img [attr.src]="image" alt="Image">
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">رقم الحساب</h6>
                        <h4 class="card-title">{{customer.accountNo}}</h4>
                        <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">تعديل الصورة</a> -->
                        <!-- <Button class="btn btn-primary btn-round" (click)="fileInput.click()">تعديل الصورة</Button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>