<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <!-- end of global level css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- global level css -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <!-- end of global level css -->
    <!-- page level css -->

    <link rel="stylesheet" type="text/css" href="/assets/dist/css/login.css" />
    <link href="/assets/dist/css/blue.css" rel="stylesheet" />
    <!-- end of page level css -->

    <style>
        .help-block {
            color: #a94442;
        }
        
        .change_link .btn-warning {
            color: #fff;
        }
        
        #wrapper label {
            color: rgb(64, 92, 96);
            font-weight: 700;
        }
    </style>

</head>

<body>
    <div class="main-content">
        <div class="container-fluid">
            <div class="container">
                <div class="row my-3">
                    <div class="col-12 mx-auto">
                        <div id="notific">
                        </div>
                    </div>
                </div>
                <div class="row vertical-offset-100">
                    <!-- Notifications -->
                    <div class="col-sm-6 col-sm-offset-3  col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 mx-auto">
                        <div id="container_demo">
                            <a class="hiddenanchor" id="toregister"></a>
                            <a class="hiddenanchor" id="tologin"></a>
                            <a class="hiddenanchor" id="toforgot"></a>
                            <div id="wrapper">
                                <div id="login" class="animate form">
                                    <form autocomplete="on" role="form" id="register_here" (ngSubmit)="onSubmit(f)" #f="ngForm">
                                        <h3 class="black_bg my-3">تسجيل حساب جديد</h3>
                                        <div class="form-group">
                                            <div *ngIf="isSaved">
                                            <!-- <span class="text-success" style="float: right">{{message}}</span> -->
                                            <h4 *ngIf="isSaved" dir="rtl" class="text-success my-3" style="text-align: right" >{{message}}</h4>
                                        </div>
                                            <!-- <h4 *ngIf="isSaved" dir="rtl" class="text-success my-3" style="text-align: right" >{{message}}</h4> -->
                                        </div>
                                        <div class="form-group ">
                                            <label for="firstName" style="margin-bottom:0px;float: right;">الإسم الأول</label>
                                            <input id="firstName" type="text" placeholder="الإسم الأول" style="text-align: right" required name="firstName" #firstName="ngModel" ngModel />
                                            <span class="help-block" style="float: right" *ngIf="!firstName.valid && firstName.touched">الرجاء إدخال الإسم الأول</span>
                                        </div>
                                        <div class="form-group ">
                                            <label style="margin-bottom:0px;float: right;" for="middleName" class="youmail">
                                                <i class="livicon" data-name="user" data-size="16" data-loop="true"
                                                    data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                                                الإسم الأوسط
                                            </label>
                                            <input id="middleName" type="text"   required name="middleName" #middleName="ngModel"  placeholder="الإسم الأوسط" value="" style="text-align: right" ngModel />
                                            <span class="help-block" style="float: right" *ngIf="!middleName.valid && middleName.touched">الرجاء إدخال الإسم الأوسط</span>
                                        </div>

                                        <div class="form-group ">
                                            <label style="margin-bottom:0px;float: right;" for="lastName" class="youmail">
                                                <i class="livicon" data-name="user" data-size="16" data-loop="true"
                                                    data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                                                الإسم الأخير
                                            </label>
                                            <input id="lastName" type="text"  required name="lastName" #lastName="ngModel"   placeholder="الإسم الأخير" value="" style="text-align: right" ngModel />
                                            <span class="help-block" style="float: right" *ngIf="!lastName.valid && lastName.touched">الرجاء إدخال الإسم الأخير</span>
                                        </div>

                                        <div class="form-group ">
                                            <label style="margin-bottom:0px;float: right;" for="email" class="youmail">
                                                <i class="livicon" data-name="mail" data-size="16" data-loop="true"
                                                    data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                                                البريد الإلكتروني
                                            </label>
                                            <input id="email"  required name="email" #email="ngModel" email type="email" placeholder="example@gmail.com" style="text-align: right" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel />
                                            <!-- <span class="help-block" style="float: right" *ngIf="!email.valid && email.touched">الرجاء إدخال البريد الإلكتروني</span> -->
                                            <div *ngIf="email.touched">
                                                <p class="help-block" style="float: right" *ngIf="email.errors?.required">الرجاء إدخال البريد الإلكتروني</p>
                                                <p class="help-block" style="float: right" *ngIf="email.errors?.pattern">صيغة البريد الإلكتروني غير صحيحة</p>
                                              </div>
                                        </div>
                                        <div class="form-group ">
                                            <label style="margin-bottom:0px;float: right;" for="password1" class="youpasswd">
                                                <i class="livicon" data-name="key" data-size="16" data-loop="true"
                                                    data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                                                كلمة المرور
                                            </label>
                                            <input id="password" required name="password" #password="ngModel"  type="password" placeholder="كلمة المرور" style="text-align: right" pattern="[a-zA-z0-9]{6,15}" ngModel />
                                            <span class="help-block" style="float: right" *ngIf="!password.valid && password.touched">الرجاء إدخال كلمة المرور</span>
                                            <span class="help-block" style="float: right" *ngIf="password.errors?.pattern">كلمة المرور يجب أن لا تقل عن 6 أحرف ولا تزيد عن 15</span>
                                        </div>

                                        <div class="form-group ">
                                            <label style="margin-bottom:0px;float: right;" for="confirmPassword" class="youpasswd">
                                                <i class="livicon" data-name="key" data-size="16" data-loop="true"
                                                    data-c="#3c8dbc" data-hc="#3c8dbc"></i>
                                                إعادة كتابة كلمة المرور
                                            </label>
                                            <input id="confirmPassword" required name="confirmPassword" #confirmPassword="ngModel"  type="password" placeholder="إعادو كتابة كلمة المرور" style="text-align: right" ngModel />
                                            <span class="help-block" style="float: right" *ngIf="!confirmPassword.valid && confirmPassword.touched">الرجاء إعادة إدخال كلمة المرور</span>
                                        </div>
                                        <div class="form-group" style="float: right">
                                            <div>
                                                    أوافق على <a routerLink="">شروط</a> إستخدام الموقع  <input type="checkbox" required name="agreement" #agreement="ngModel" ngModel />
                                            </div>
                                                <div *ngIf="!agreement.valid && agreement.touched">
                                                        <span class="help-block" style="float: right" >الرجاء الموافقة على شروط إستخدام الموقع</span>
                                                </div>
                                            </div>
                                            <div class="form-groupd">
                                                    <button [disabled]="!f.valid" type="submit" class="btn btn-success btn-block">التسجيل</button>
                                            </div>
                                    <div class="form-groupd">
                                        <a routerLink="/login" class="btn btn-responsive botton-alignment btn-warning btn-sm" >رجوع</a>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- global js -->
    <!-- <script src='/assets/dist/js/api.js'></script> -->
    <script src="/assets/dist/js/jquery.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="/assets/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- <script src="/assets/dist/js/bootstrapValidator.min.js" type="text/javascript"></script> -->
    <!--livicons-->
    <!-- <script src="/assets/dist/js/raphael.min.js"></script> -->
    <!-- <script src="/assets/dist/js/livicons-1.4.min.js"></script> -->
    <!-- <script src="/assets/dist/js/icheck.js" type="text/javascript"></script> -->
    <!-- <script src="/assets/dist/js/login.js" type="text/javascript"></script> -->
    <!-- end of global js -->
</body>
</html>