<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" *ngIf="isMsg">
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                                     {{msg}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">طلب تحويل مبلغ مالي</h4>
                        <!-- <p class="card-category">Category subtitle</p> -->
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>أدخل المبلغ</mat-label>
                                        <input matInput name="amount" #amount="ngModel" type="text" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <!-- <mat-form-field>
                                        <mat-select placeholder="إختر طريقة التحويل" name="transferWay" #transferWay="ngModel" ngModel>
                                            <mat-option value="cash">نقدا</mat-option>
                                            <mat-option value="bank">تحويل بنكي</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>رقم حساب المستفيد</mat-label>
                                        <input matInput name="receAccountNo" #receAccountNo="ngModel" type="text" style="float: right;" ngModel>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8 ">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>إسم المستفيد</mat-label>
                                        <input matInput name="receName" #receName="ngModel" type="text" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button mat-raised-button class="btn btn-primary btn-block">أرسل طلب التحويل</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">الرصيد</h4>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">الأرباح</h6>
                        <h4 class="card-title">${{(customer.balanceToWithdraw === 0 || customer.balanceToWithdraw === null) ? 0 : customer.balanceToWithdraw}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>