<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                        <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                            <i class="material-icons" data-notify="icon">check</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                            <span data-notify="message" style="text-align: center">
                                                                             {{msg}}</span>
                                                                            </div>
                                                                            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">سجل طلبات التحويل</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>تاريخ الطلب</th>
                                <th>القيمة</th>
                                <th>طريقة السحب</th>
                                <th>الملاحظات</th>
                                <th>الحالة</th>
                                <th>تاريخ السحب</th>
                                <th>العمليات</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dp of deposits | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                                    <td>{{dp.createdAt}}</td>
                                    <td>${{dp.amount}}</td>
                                    <td>{{ (dp.withdrawWay === 'cash') ? 'نقدا' : 'تحويل بنكي' }}</td>
                                    <td>{{ (dp.notes === null || dp.notes === '') ? 'لا توجد ملاحظات' : dp.notes }}</td>
                                    <td>{{getTxStatus(dp)}}</td>
                                    <td>{{(dp.receivedAt === null || dp.receivedAt === '') ? 'في الإنتظار' : dp.receivedAt }}</td>
                                    <td>
                                        <div *ngIf="!dp.status === 'canceled'">
                                        <a [routerLink]="" (click)="cancelTransaction(dp.id)">
                                                    <i class="material-icons">cancel</i> إلغاء العملية
                                        </a>
                                    </div>
                                    <div *ngIf="dp.status === 'canceled'">
                                        تم الإلغاء
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="deposits.length"></ngb-pagination>
                            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>