<div class="logo">
    <a routerLink="/dashboard" class="simple-text">
        {{title}}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons" style="float: right">{{menuItem.icon}}</i>
                <p style="text-align: center">{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>