<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <p class="card-category">مستثمرين جدد في إنتظار التفعيل</p>
                        <h3 class="card-title">{{inActiveCustomersCount}}
                            <!-- <small>GB</small> -->
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_balance_wallet</i>
                        </div>
                        <p class="card-category">عمليات سحب في الإنتظار</p>
                        <h3 class="card-title">{{penddingWithdrawCount}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_balance_wallet</i>
                        </div>
                        <p class="card-category">عمليات تحويل في الإنتظار</p>
                        <h3 class="card-title">{{penddingTransferCount}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">arrow_right_alt</i>
                        </div>
                        <p class="card-category">عمليات تشغيل الأرباح في الإنتظار</p>
                        <h3 class="card-title">{{penddingDepositCount}}
                            <!-- <small>GB</small> -->
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_balance_wallet</i>
                        </div>
                        <p class="card-category">مبالغ منتظرة للتسليم</p>
                        <h3 class="card-title">${{balanceToWithdrawCount}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">hourglass_empty</i>
                        </div>
                        <p class="card-category">اخر عمليات السحب</p>
                        <h3 class="card-title">{{lastWithdrawCount}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">hourglass_empty</i>
                        </div>
                        <p class="card-category">اخر عمليات التحويل</p>
                        <h3 class="card-title">{{lastTransferCount}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                             {{msg}}</span>
                </div>
            </div>
        </div>
    </div>
</div>