<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">كشف حساب مفصل</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>تاريخ المعاملة</th>
                                <th>تاريخ التحصيل</th>
                                <th>وصف المعاملة</th>
                                <th>رقم المستند</th>
                                <th>المبلغ</th>
                                <th>نوع المعاملة</th>
                                <th>الرصيد</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tx of transaction | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td>{{tx.createdAt}}</td>
                                    <td>{{(tx.startedAt === null || tx.startedAt === undefined ) ? 'غير متوافق' : tx.startedAt}}</td>
                                    <td>{{tx.notes}}</td>
                                    <td>{{tx.transactionNo}}</td>
                                    <td>${{tx.amount}}</td>
                                    <td>{{getTxType(tx)}}</td>
                                    <td>${{tx.customerBalance}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="transaction.length"></ngb-pagination>
                            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>