<div class="row">
 <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
    <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
        <i class="material-icons" data-notify="icon">check</i>
        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
        <span data-notify="message" style="text-align: center">
                                         {{msg}}</span>
    </div>
 </div>   
</div>
<div class="card">
  <div class="card-header card-header-primary">
      <h4 class="card-title pull-right">تعديل بيانات المستثمر</h4><br><br>
      <p class="card-category" style="float: right">بيانات المستثمر</p>
  </div>
  <div class="card-body">
      <form (ngSubmit)="onSubmit(profile)" #profile="ngForm">
          <div class="row">
              <div class="col-md-4 col-sm-12 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>الإسم الأول</mat-label>
                      <input matInput  type="text" name="firstName" [(ngModel)]="customer.firstName" ngModel>
                  </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>الإسم الأوسط</mat-label>
                      <input matInput  name="middleName" [(ngModel)]="customer.middleName" ngModel>
                  </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>الإسم الأخير</mat-label>
                      <input matInput  name="lastName" [(ngModel)]="customer.lastName" ngModel>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>رقم الهاتف</mat-label>
                      <input matInput  type="text" name="phoneNo" [(ngModel)]="customer.phoneNo" ngModel>
                  </mat-form-field>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>رقم الجواز</mat-label>
                      <input matInput  type="text" name="passportNo" [(ngModel)]="customer.passportNo" ngModel>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>رقم جواز وكيل الحساب</mat-label>
                      <input matInput  type="text" name="delegPassport" [(ngModel)]="customer.delegPassport" ngModel>
                  </mat-form-field>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>إسم وكيل الحساب</mat-label>
                      <input matInput  type="text" name="delegFullName" [(ngModel)]="customer.delegFullName" ngModel>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 ">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>نسبة الأرباح الخاصة</mat-label>
                    <input matInput  type="number" name="intersetRatePlus" [(ngModel)]="customer.intersetRatePlus" ngModel>
                </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                  <input placeholder="الصورة" #fileInput type="file" accept="image/*" name='file' (change)="onFileSelected($event)" style="display:none" ngModel>
              </div>
          </div>
          <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12">
                          <button mat-raised-button  type="submit" class="btn btn-primary poll-center">حفظ</button>
                      </div>
          </div>
          <div class="clearfix"></div>
      </form>
  </div>
</div>