<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="isMsg">
                <div class="alert alert-success alert-with-icon" data-notify="container">
                    <i class="material-icons" data-notify="icon">check</i>
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                    <span data-notify="message" style="text-align: center">
                                                             {{message}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title pull-right">أدخل كود العملية</h4><br><br>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(user)" #user="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>أدخل الكود</mat-label>
                                        <input matInput type="text" name="code" #code="ngModel" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-primary btn-block">حفظ</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <!-- <div class="col-md-3" *ngIf="display">
                    <h4 style="text-align: center">صورة وكيل حساب المستثمر</h4>
                    <img style="text-align: center" [src]="delegImage" width="240px" height="250px" alt="delegant image">
                </div> -->

                <div class="col-lg-3 col-md-3 col-sm-6" *ngIf="display">
                    <div>
                      <img [src]="delegImage" alt="thumbnail" class="img-thumbnail"
                      style="width: 200px;height: 200px;" />
                  </div>
                 <div>
                     <h4 style="text-align: center;color: blue">وكيل الحساب</h4>
                 </div>
                </div>


            <!-- <div class="col-md-3" *ngIf="display">
                    <h4 style="text-align: center">صورة المستثمر</h4>
                <img [src]="image" width="220px" height="250px" alt="customer image">
            </div> -->

            <div class="col-lg-3 col-md-3 col-sm-6" *ngIf="display">
                <div>
                  <img [src]="image" alt="thumbnail" class="img-thumbnail"
                  style="width: 200px;height: 200px;" />
              </div>
             <div>
                 <h4 style="text-align: center;color: blue">المستثمر</h4>
             </div>
            </div>


        </div>
    </div>
    <div class="row" *ngIf="display">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title float-right">بيانات المعاملة</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary" style="text-align: center;">
                            <th>رقم المعاملة</th>
                            <th>نوع المعاملة</th>
                            <th>المبلغ</th>
                            <th>إسم المستثمر</th>
                            <th>رقم جواز المستثمر</th>
                            <th>إسم وكيل حساب المستثمر</th>
                            <th>رقم جواز وكيل المستثمر</th>
                            <th>التعديل</th>
                        </thead>
                        <tbody>
                            <tr style="text-align: center;">
                                <td>{{transaction.transactionNo}}</td>
                                <td>{{getTxStatus(transaction)}}</td>
                                <td>{{transaction.amount}}</td>
                                <td>{{transaction.custFirstName}} {{transaction.custMiddleName}} {{transaction.custLastName}}</td>
                                <td>{{transaction.custPassportNo}}</td>
                                <td>{{transaction.custDelegName}}</td>
                                <td>{{transaction.custDelegPassportNo}}</td>
                                <td style="text-align: center;">
                                    <div>
                                        <a [routerLink]="" (click)="execute(transaction.transactionNo)">
                                            <i class="material-icons">verified_user</i> تنفبذ الطلب
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>