<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" routerLink="/home"><strong>المتداول الليبي</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active waves-light" mdbWavesEffect>
                    <a routerLink="/customer-dashboard" class="nav-link">Dashboard<span class="sr-only">(current)</span></a>
                    <a routerLink="/admin-dashboard" class="nav-link">Dashboard<span class="sr-only">(current)</span></a>
                </li>  -->
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a routerLink="/login" class="nav-link">تسجيل الدخول</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a routerLink="/registrer" class="nav-link">التسجيل</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view">
        <div class="full-bg-img">
            <div class="mask rgba-black-light flex-center">
                <div class="container text-center white-text">
                    <!-- <div class="white-text text-center wow fadeInUp">
                        <h2>This Navbar is fixed</h2>
                        <h5>It will always stay visible on the top, even when you scroll down</h5>
                        <br>
                        <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.Main -->
</header>
<!--Main Layout-->
<main class="text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</main>
<!--Main Layout-->