<div class="main-content">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                                <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="isMsg">
                                    <i class="material-icons" data-notify="icon">check</i>
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">  <i class="material-icons">close</i></button>
                                    <span data-notify="message" style="text-align: center">
                                                                                     {{msg}}</span>
                                                                                    </div>
                                                                                    </div>
                </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title float-right">سجل طلبات التحويل</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>التاريخ</th>
                                <!-- <th>الملاحظات</th>
                                <th>معلومات التحويل</th> -->
                                <th>الحالة</th>
                                <th>إسم المستفيد</th>
                                <!-- <th>وصف المعاملة</th> -->
                                <th>رقم حساب المستفيد</th>
                                <th>القيمة</th>
                                <th>تاريخ المراجعة</th>
                                <th>تاريخ الإستلام</th>
                                <th>العمليات</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tr of transfers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                    <td>{{tr.createdAt}}</td>
                                    <td>{{ getTxStatus(tr) }}</td>
                                    <td>{{tr.receName}}</td>
                                    <td>{{tr.receAccountNo}}</td>
                                    <td>{{tr.amount}}</td>
                                    <td>{{(tr.approvedAt === null || approvedAt === '') ? 'في الإنتظار' : tr.approvedAt}}</td>
                                    <td>{{(tr.receivedAt === null || tr.receivedAt === '') ? 'في الإنتظار' : tr.receivedAt}}</td>
                                    <td>
                                            <div *ngIf="!(tr.status === 'reviewed')">
                                            <a [routerLink]="" (click)="cancelTransaction(wd.id)">
                                                    <i class="material-icons">cancel</i> إلغاء العملية
                                            </a> 
                                             </div>
                                             <div *ngIf="(tr.status === 'reviewed')">
                                                 تمت العملية
                                             </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="transfers.length"></ngb-pagination>
                            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                <option [ngValue]="3">3 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="4">4 عناصر في الصفحة الواحدة</option>
                                <option [ngValue]="5">5 عناصر في الصفحة الواحدة</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>